/* General body styles */
body {
    font-family: 'poppins', sans-serif;
    background-color: #202020;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #1f1f1f;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 28px;
}

/* Navigation styles */
nav {
    margin-top: 15px;
    text-align: center;
}

nav a {
    color: #bbb;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #2a2a2a;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

nav a:hover {
    background-color: #444;
    color: #fff;
}

/* Main content area */
main {
    max-width: 900px;
    margin: 30px auto;
    background-color: #202020;
    padding: 25px;
    border-radius: 10px;
    box-shadow: #202020;
    text-align: center;
}

/* Title and description */
main h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #e0e0e0;
}

main p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #b0b0b0;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

th {
    background-color: #2a2a2a;
}

tr.warning {
    background-color: #f00510bb;
}

tr.warning td {
    font-weight: bold;
}

button.remove {
    background-color: #dc3545;
}

button.remove:hover {
    background-color: #f9031c;
}
.custom-btn {
    width: 200px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    margin:10px;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-6 {
    background: #b621fe;
    border: none;
    z-index: 1;
  }
  .btn-6:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-6:hover {
    color: #fff;
  }
  .btn-6:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-6:active {
    top: 2px;
  }
  #particles-js {
    padding-top: 100px;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 120vh;
  }
  .footer {
    background-color: #FA7268;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 80px;
  }
  
  .footer-content {
    max-width: 960px;
    margin: 0 auto;
  }